/* style datatable */
#table_proced {
    border-collapse: collapse;
    width: 100%;
}

#table_proced td, #table_proced th {
    border: 1px solid #ddd;
    /* padding: 8px; */
}

#table_proced td {
    vertical-align: top;
}

#table_proced tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_proced tr:hover {
    background-color: #ddd;
}

#table_proced th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eee;
    white-space: nowrap;
}

#answer_detail td, #table_answer th, #table_file th {
    border: hidden;
}

#table_answer, #table_file {
    border-collapse: collapse;
    width: 100%;
}

#table_answer td, #table_answer th, #table_file td, #table_file th {
    border: 1px solid #ddd;
    font-weight: initial;
    /* padding: 8px; */
}

#table_answer td, #table_file td {
    vertical-align: top;
}

#table_answer tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_file tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_answer tr:hover {
    background-color: #ddd;
}

#table_file tr:hover {
    background-color: #ddd;
}

#table_answer th, #table_file th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eee;
    white-space: nowrap;
}

/*style header*/
.proced-header {
    background-color: #fff;
}

/* đổ bóng */
.card-proced {
    box-shadow: 1px 2px 10px #666;
}

/* loading */
.modalloading {
    display: none;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('/service/images/loading.gif') 50% 50% no-repeat;
}

body.loading .modalloading {
    display: block;
    overflow: auto;
}

/* end loading */